* {
  margin: 0;
  box-sizing: inherit;
}

html {
  background-color: #efefef;
  box-sizing: border-box;
  
}

.App {
  /* set height to fill viewport */
  height: 100vh;
  background-image: url('/public/img/backgrounds/september-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
}

.calendar {
  margin: 5rem;
  display: flex;
  flex-wrap: wrap;
 
}

.day {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 10rem;
  height: 11rem;
  border-radius: 5%;
  box-shadow: 1rem 1rem 1rem rgb(152,133,123);
  background-color: #efefef;
  background-image: url('/public/img/card-fronts/yellow-leaf.jpg');
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  html {
    background-size: cover;
    min-height: 100%;
    width: auto;
  }

  .calendar {
    margin: 1rem;
  }

  .day {
    
  }

  
  
}