@supports(padding:max(0px)) {
  body, header, footer {
      padding-left: min(0vmin, env(safe-area-inset-left));
      padding-right: min(0vmin, env(safe-area-inset-right));
  }
}
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Poppins&family=Raleway:wght@400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Times New Roman', sans-serif;

}

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

html {
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
}

.background-september {
  height: 200vh;
  background-image: url('/public/img/backgrounds/september-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden; 
}

.background-november {
  height: 200vh;
  background-image: url('/public/img/backgrounds/november-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden; 
}

.christmas-back {
  height: 200vh;
  background-image: url('/public/img/backgrounds/background-christmas.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden; 
}



/* wrapping day items to a new row */
.calendar {

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin: 2rem;
  justify-content: center;
  
}

.month {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #EA8B37;
}



.month button {
  margin: 0 1rem 0 1rem;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
  color: #EA8B37
}

.month-color {
  color: #D40426;
}

.disabled  {
  opacity: 0.5
}

.day-name {
  font-family: 'Croissant One', cursive; 
  font-size: 2rem;
  margin: 1rem 35%; 
}

.weekColor {
  color: white;
}

.day {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 10rem;
  height: 11rem;
  border-radius: 5%;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  perspective: 1000px;
  cursor: pointer;
}

.present-card {
  background-image: url(/public/img/card-fronts/present-card.jpg);
}

.day .front-image {
  background-image: url('/public/img/card-fronts/yellow-leaf.jpg');
}

.day .front,
.day .back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 5%;
  box-shadow: 1rem 1rem 1rem rgb(152, 133, 123);
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform 0.5s ease;
}

.day .back {
  transform: rotateY(180deg);
  background-size: cover;
  background-position: center center;
}

.day.flipped .front {
  transform: rotateY(180deg);
}

.day.flipped .back {
  transform: rotateY(0deg);
}

.date {
  position: absolute;
  top: 5%;
  left: 10%;
  color: #D4A90A;
}

/* Popup */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(222,172,111, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  text-align: center;
}

.close-button {
  float: right;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.popup-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 20rem;
  height: 22rem;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  perspective: 1000px;
  cursor: pointer;
}

.popup-details {
  align-items: center;
  justify-content: center;
  width: 20rem;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  background-color: rgb(222,172,111);
  padding: 1.5rem;
  margin-top: -1rem;
}

.popup-details h2 {
  font-size: 1.5rem;
}

.popup-details p {
  font-size: 1rem;
}

.popup-details a {
  margin: .5rem;
  color: black;
}

.popup-details a:hover {
  margin: .5rem;
  color: rgb(51,49,50);
}

.fa-x {
  position: relative;  
  top: -1rem;
  right: -1rem;
}

.fa-x:hover {
  color: #7B332F;
}


@media screen and (max-width: 1352px) {
  .calendar {
    margin-top: 10%;
    gap: 0;
  }

  .day {
    width: 8rem;
    height: 9rem;
  }
}

@media screen and (max-width: 1025px){
  .calendar {    
    margin-top: 30%;
    gap: 0;
    
  }
  .day {
     width: 5rem;
     height: 6rem;
  }
}

@media screen and (max-width: 750px){
  .calendar {    
    margin-top: 20%;
    gap: 0;
    
  }
  .day {
     width: 2rem;
     height: 4rem;
     margin: 1rem 0 1rem 0; 
  }
}


@media screen and (max-width: 450px){
  .calendar {   
    margin: 30% 1rem; 
    gap: 1rem;
  }
  .day {

     width: 80%;  
     height: 1rem;  
     padding: 1rem;
     margin: 2rem 0.1rem; 
  }

  .day .front,
  .day .back {
    padding: 1.5rem;
  }

  .date {
    top: 1%;
    left: 5%;
    font-size: 1rem;
  }
}
  
  


@media screen and (max-width: 1025px) and (orientation: landscape) {
  .background-november,
  .background-september,
  .christmas-back {
    margin: 0;
    padding: 0;
  }

  .calendar {   
    margin: 1rem 1rem; 
    gap: 0rem;
    padding-left: 2rem;
  } 

  .popup-content {
    position: absolute;
    width: 20rem;
    height: 10rem; 
    top: 1rem;
  }

  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(222,172,111, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  
  .close-button {
    float: right;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .popup-image {
    padding: 2rem;
    width: 13rem;
    height: 10rem;
}


.popup-details {
  width: 13rem;
  height: 10rem;
  padding: 1.5rem;
  line-height: 1.2rem;
}

.popup-details h2 {
  margin-bottom: .5rem;
}

}