* {
  margin: 0;
  box-sizing: inherit;
}

html {
  background-color: #efefef;
  box-sizing: border-box;
  
}

.App {
  /* set height to fill viewport */
  height: 200vh;
  /* set background image, no repeat, covering the whole vh, centering image, fixing image, hiding any overflow outside the viewport */
  background-image: url('/public/img/backgrounds/september-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  /* overflow: hidden; */
}

/* wrapping day items to a new row */
.calendar {
  margin: 5rem;
  display: flex;
  flex-wrap: wrap;
}

.month {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 1rem;
}

.month button {
  margin: 0 1rem 0 1rem;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
}


.day {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 10rem;
  height: 11rem;
  border-radius: 5%;
  box-shadow: 1rem 1rem 1rem rgb(152,133,123);
  background-color: #efefef;
  background-image: url('/public/img/card-fronts/yellow-leaf.jpg');
  background-size: cover;
  background-position: center center;
  perspective: 1000px;
  cursor: pointer;
}

/* Add these styles to your CSS */


.day .front,
.day .back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 5%;
  box-shadow: 1rem 1rem 1rem rgb(152, 133, 123);
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.day .back {
  transform: rotateY(180deg);
  background-size: cover;
  background-position: center center;
}

.day.flipped .front {
  transform: rotateY(180deg);
}

.day.flipped .back {
  transform: rotateY(0deg);
}

.date {
  position: absolute;
  top: 5%;
  left: 10%;
  color: #D4A90A;
}


@media screen and (max-width: 900px){
  .day {
    width: 8rem;
    height: 9rem;
  }
}

@media screen and (max-width: 800px){
  .day {
    width: 7rem;
    height: 8rem;
  }
}
@media screen and (max-width: 600px) {
  html {
    background-size: cover;
    min-height: 100%;
    width: auto;
  }

  .calendar {
    margin: 1rem;
  }

  .day {
    width: 5rem;
    height: 6rem;
  }

  
  
}